In [35]:
import pandas as pd
import numpy as np
import statistics as statistics

# Loading Training Dataset

In [2]:
df=pd.read_csv(r"C:\Users\kibe\Desktop\Projects\Sea Turtles\train.csv")

In [43]:
df.head()

,Rescue_ID,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_1,Tag_2,...,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease,YearCaught,MonthCaught,WeekCaught
Date_TimeCaught,,,,,,,,,,,,,,,,,,,,,
2000-12-22,2000_RE_0060,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,CC00147,None,...,62.60,NaN,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00,2000,12,51
2001-10-28,2001_RE_0187,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,W442,None,...,31.35,NaN,Unknown,multiple b's on front flippers& a lot of alga...,Released,ReleaseSite_62,28/10/01,2001,10,43
2001-11-01,2001_RE_0197,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,KE0376,None,...,49.20,NaN,Unknown,clean,Released,ReleaseSite_50,01/11/01,2001,11,44
2002-03-11,2002_RE_0031,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,CC00302,None,...,59.00,NaN,Unknown,1 b 3 CS+ calcerous algae at rear end of shell...,Released,ReleaseSite_50,11/03/02,2002,3,11
2002-08-08,2002_RE_0118,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,NotTagged_0113,None,...,33.00,NaN,Unknown,very lively+ right eye is hanging out + swolle...,Released,ReleaseSite_62,08/08/02,2002,8,32

In [42]:
newer_df= df[['Rescue_ID','Date_TimeCaught','CaptureSite']].copy()
newer_df.head()

KeyError: "['Date_TimeCaught'] not in index"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   Tag_1                  18062 non-null  object
 10  Tag_2                  18062 non-null  object
 11  Lost_Tags              925 non-null    object
 12  T_Number               38 non-null     object
 13  CCL_cm                 18038 non-null  float64
 14  CCW_cm                 18035 non-null  float64
 15  Weight_Kg              12653 non-null  float64
 16  Sex                    13732 non-null  object
 17  TurtleCharacteristics  18021 non-null  object
 18  Status                 14429 non-null  object
 19  ReleaseSite            17987 non-null  object
 20  Date_TimeRelease       11954 non-null  object
dtypes: float64(3), object(18)
memory usage: 2.9+ MB

# Seperating columns into a new dataframe

In [6]:
new_df = df[['Rescue_ID','Date_TimeCaught','Researcher','CaptureSite','ForagingGround','CaptureMethod','Fisher','LandingSite','Species','TurtleCharacteristics','ReleaseSite','Status']].copy()

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   TurtleCharacteristics  18021 non-null  object
 10  ReleaseSite            17987 non-null  object
 11  Status                 14429 non-null  object
 12  YearCaught             18062 non-null  int64
 13  MonthCaught            18062 non-null  int64
 14  WeekCaught             18062 non-null  int64
dtypes: int64(3), object(12)
memory usage: 2.1+ MB

In [36]:
releasesitemode = new_df['ReleaseSite'].mode()
new_df['ReleaseSite'] = new_df['ReleaseSite'].fillna(releasesitemode)

In [37]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   TurtleCharacteristics  18021 non-null  object
 10  ReleaseSite            17987 non-null  object
 11  Status                 14429 non-null  object
 12  YearCaught             18062 non-null  int64
 13  MonthCaught            18062 non-null  int64
 14  WeekCaught             18062 non-null  int64
dtypes: int64(3), object(12)
memory usage: 2.1+ MB

<b>Seperating the datetimecaught column into year month and week<b>

In [28]:
#splitting the year from date_timecaught
new_df['YearCaught'] = pd.DatetimeIndex(new_df['Date_TimeCaught']).year
#splitting month
new_df['MonthCaught'] = pd.DatetimeIndex(new_df['Date_TimeCaught']).month
#splitting the week
new_df['WeekCaught'] = pd.DatetimeIndex(new_df['Date_TimeCaught']).week
new_df.head()

C:\Users\kibe\AppData\Local\Temp\ipykernel_11080\3720191003.py:6: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  new_df['WeekCaught'] = pd.DatetimeIndex(new_df['Date_TimeCaught']).week

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,TurtleCharacteristics,ReleaseSite,Status,YearCaught,MonthCaught,WeekCaught
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,algae at rear of shell,ReleaseSite_50,Released,2000,12,51
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,multiple b's on front flippers& a lot of alga...,ReleaseSite_62,Released,2001,10,43
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,clean,ReleaseSite_50,Released,2001,11,44
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,1 b 3 CS+ calcerous algae at rear end of shell...,ReleaseSite_50,Released,2002,3,11
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,very lively+ right eye is hanging out + swolle...,ReleaseSite_62,Released,2002,8,32